
.heroSectWrapper {
    background-color: var(--heroSection-bg); 
    width: 100vw;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
}

.heroSectBody {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
 
.hero_dark_bg {
  background-color: var(--heroInfo-bg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.heroInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    isolation: isolate;
}

.infoBox {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.threeDTxtWrapper {
  width: 100%;
  height: 17vw;
  position: relative;
  min-height: 10rem;
  background-color: transparent;
  box-sizing: border-box;
}

.heroTitleWrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box; 
}

.heroTitle {
  font-size: 10vw;
  color: #fff;
  font-weight: 400;
}

.headerCaption {
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 400;
  width: 78%;
  color: var(--heroCaption-color);
  transition: all 0.3s ease-in;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.marginLeft {
  margin-left: 5rem;
}


.threeDTxt_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
  
.threeDTxt_container.invinsible {
  left: -140%;
}


.heroCtaBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5rem;
}














/* Media Queries */



@media (max-width: 550px) {
  .heroInfo {
    padding-left: 0rem;
  }

  .infoBox {
    padding: 0 1rem;
  }

  
.headerCaption {
  font-size: .7em;
  width: 100%;
  font-weight: 300;
}

  .marginLeft {
    margin-left: 0rem;
  }

  .heroCtaBtnWrapper {
    margin-left: 0;
  }

}
