.loadingScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--loading-screen-bg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  opacity: 1;
  box-sizing: border-box;
}

.loadingScreen p {
  font-family: 'Nohemi', 'Mabry Pro', Arial, Helvetica, sans-serif;

}

.imgWrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}



.loader_logo {
  width: 250px;
  aspect-ratio: 2.14;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}


.progressBox {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
 

.loader {
  --s: 15px;
  --g: 5px;

  width: calc(3*(1.353*var(--s) + var(--g)));
  display: grid;
  justify-items: end;
  aspect-ratio: 3;
  overflow: hidden;
  --_m: linear-gradient(90deg, #0000, #000 15px calc(100% - 15px), #0000);
  -webkit-mask: var(--_m);
  mask: var(--_m);
}

.loader:before {
  content: "";
  width: 200%;
  background:
    linear-gradient(90deg, #BC292F 50%, #0000 0),
    conic-gradient(from -90deg at var(--s) calc(0.353*var(--s)),
      #F5AA56 135deg, #b07d42 0 270deg, #d59954 0);
  background-blend-mode: multiply;
  --_m:
    linear-gradient(to bottom right,
      #0000 calc(0.25*var(--s)), #000 0 calc(100% - calc(0.25*var(--s)) - 1.414*var(--g)), #0000 0),
    conic-gradient(from -90deg at right var(--g) bottom var(--g), #000 90deg, #0000 0);
  -webkit-mask: var(--_m);
  mask: var(--_m);
  background-size: calc(100%/3) 100%, calc(100%/6) 100%;
  -webkit-mask-size: calc(100%/6) 100%;
  mask-size: calc(100%/6) 100%;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l10 1s infinite linear;
}

@keyframes l10 {
  to {
    transform: translate(calc(100%/3))
  }
}