
.authTitle {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: .5rem;
    align-self: center;
    text-transform: capitalize;
    color: var(--authTitle-text-color);
    transition: all 0.3s ease-in;
}

.formBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    margin-top: 2.3rem;
    position: relative;
    width: 100%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.formBox.login {
    overflow-x: hidden;
    height: 100%;
    min-height: max-content;
    box-sizing: border-box;
    position: relative;
    flex: 1;
    overflow-y: visible;
}

.formBox .authStep {
    font-size: 12px;
    color: var(--authTitle-text-color);
    transition: all 0.3s ease-in;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.formInput {
    width: 100%;
    margin-bottom: .9rem;
}

.inputBox {
    padding: 0.6rem;
    font-size: 11px;
    color: black;
    outline: none;
    background-color: white;
    border: 1px solid rgba(59, 59, 59, 0.325);
    width: 100%;
    border-radius: 4px;
}

.authBtn {
    align-self: center;
    padding: .8rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--auth-btn-bgColor);
    font-size: 13px;
    cursor: pointer;
    color: white;
    border: 1px solid var(--auth-btn-bgColor);
    transition: all 0.3s ease-in;
    flex: 1;
    min-width: 210px;
}
.authBtn.alternate {
    background-color: var(--auth-btn-alt-bgColor);
    border: 1px solid var(--auth-btn-alt-border);
}

.authBtn:hover {
    transition: all 0.3s ease-in;
    background-color: var(--auth-btn-hover-bgColor);
}

.authBtn.alternate:hover {
    transition: all 0.3s ease-in;
    background-color: var(--auth-btn-alt-hover-bgColor);
}

.circularProgress {
    color: var(--button-color-dark);
}









/* Steps styles */

.stepCont {
    transition: all .8s ease-in-out;
    opacity: 0;
    box-sizing: border-box;
    width: 100%;
}

.stepCont:nth-of-type(1) {
    opacity: 1;
    margin-top: 1rem;
}

.stepCont:nth-of-type(2) {
    position: absolute;
    right: 100%;
    top: 1rem;
    width: max-content;
}

.stepCont:nth-of-type(3) {
    position: absolute;
    left: 100%;
    top: 3rem;
}

.stepTwo {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    box-sizing: border-box;
}

.addImgCirc {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--signup-addImg-circle);
    cursor: pointer;
    position: relative;
    z-index: 8;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}

.tapTxt {
    font-size: 13px;
    margin-top: 1rem;
}



.pulsatingBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--signup-addImg-circle-pulse);
    z-index: -1;
    border-radius: 50%;
    animation: pulsate 1.3s infinite;
    transition: all 0.3s ease-in;
}

.imagePreview {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
    border-radius: 50%;
    top: 0;
    left: 0;

}


@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}




.formBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    gap: .5rem;
}



.thirdFormInput {
    position: relative;
}

.visibilityCont {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}




/* file uplaod style */

.file-input {
    display: none;
    /* Hide the actual file input */
}

.selectFile {
    font-size: 12px;
    color: white;
    width: max-content;
    padding: .2rem .5rem;
    background-color: rgba(255, 0, 0, 0.452);
}

.selectFile.green {
    color: rgb(6, 163, 6);
}


.selectFile.stepThree {
    margin-top: 1rem;
}

.signUpcomp {
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.stepThree {
    width: 100%;
    flex: 1;
}

.loginComp {
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: visible;
}

/* Alt login  styles */

.altCont {
    transition: all .8s ease-in-out;
    opacity: 0;
}

.altCont:nth-of-type(1) {
    opacity: 1;
    margin-top: 1rem;
}

.altCont:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 1rem;
    width: 100%;
}

.forgotPassText {
    font-size: 14px;
    align-self: center;
    margin-top: 2rem;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--authTitle-text-color);
    transition: all 0.3s ease-in;
}

.forgotPassText > span {
    text-decoration: underline;
}





/* loader box animation */


.loader {
    --s: 15px;
    --g: 5px;
  
    width: calc(3*(1.353*var(--s) + var(--g)));
    display: grid;
    justify-items: end;
    aspect-ratio: 3;
    overflow: hidden;
    --_m: linear-gradient(90deg, #0000, #000 15px calc(100% - 15px), #0000);
    -webkit-mask: var(--_m);
    mask: var(--_m);
  }
  
  .loader:before {
    content: "";
    width: 200%;
    background:
      linear-gradient(90deg, #BC292F 50%, #0000 0),
      conic-gradient(from -90deg at var(--s) calc(0.353*var(--s)),
        #F5AA56 135deg, #b07d42 0 270deg, #d59954 0);
    background-blend-mode: multiply;
    --_m:
      linear-gradient(to bottom right,
        #0000 calc(0.25*var(--s)), #000 0 calc(100% - calc(0.25*var(--s)) - 1.414*var(--g)), #0000 0),
      conic-gradient(from -90deg at right var(--g) bottom var(--g), #000 90deg, #0000 0);
    -webkit-mask: var(--_m);
    mask: var(--_m);
    background-size: calc(100%/3) 100%, calc(100%/6) 100%;
    -webkit-mask-size: calc(100%/6) 100%;
    mask-size: calc(100%/6) 100%;
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    animation: l10 1s infinite linear;
  }
  
  @keyframes l10 {
    to {
      transform: translate(calc(100%/3))
    }
  }
  