@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* Home page */
  --heroSection-bg: #FFEBE0;
  --heroInfo-bg: #ffffff65;
  --heroCaption-color: #000000c6;

  --blob-bg-color: #16191b;
  
  --navbar-bgColor: rgba(24, 24, 24, 0);


  --ctaBtn-bgColor: #16191b;
  --ctaBtn-alt-bgColor: #16191b;
  --toggle-theme-border-color: #000;

  /* Auth Page */
  --authPage-bgImage_cover: #16191b32;
  --authTitle-text-color: #000;

  --auth-btn-bgColor: #ca0202c9;
  --auth-btn-alt-bgColor: transparent;
  --auth-btn-alt-border: #ca0202c9;
  --auth-btn-hover-bgColor: transparent;
  --auth-btn-alt-hover-bgColor: #ca0202c9;

  --signup-addImg-circle: #FFA2A2;
  --signup-addImg-circle-pulse: #ffa2a237;

  /* Loading Screen */
  --loading-screen-bg: #16191b;
  --loading-screen-counter-color: #fff;


  --background: #ffffff;
  --foreground: #171717;

  --button-primary: #FFA2A2;
  --button-secondary: #CA0202
  --button-secondary: #ed9537;
}

[data-theme='dark'] {
  /* Home page */
  --heroSection-bg: #16191b;
  --heroInfo-bg: #16191b65;
  --heroCaption-color: #ffffffc6;
  
  --blob-bg-color: #3e958f;
  
  --ctaBtn-bgColor: #3E958F;
  --ctaBtn-alt-bgColor: #307f7a;
  --toggle-theme-border-color: #fff;

  
  /* Auth Page */
  --authPage-bgImage_cover: #16191b92;
  --authTitle-text-color: #fff;

  --auth-btn-bgColor: #16191b85;
  --auth-btn-alt-bgColor: #16191b85;
  --auth-btn-alt-border: #16191b85;
  --auth-btn-hover-bgColor: #16191b;
  --auth-btn-alt-hover-bgColor: #16191b;

  --signup-addImg-circle: #16191b;
  --signup-addImg-circle-pulse: #16191b35; 

  /* Loading Screen */
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Mabry Pro', 'Nohemi', Arial, Helvetica, sans-serif;
  font-display: swap;
  color: white;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  border-radius: 25px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #3E958F;
  border-radius: 25px;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}
