.page {
  --background: #ffffff;
  --foreground: #171717;
  --button-primary: #FFA2A2;
  --button-secondary: #CA0202;

  
  background: var(--background);
  color: var(--foreground);
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}


.firstSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.footer {
  min-height: 150px;
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}


.footerSkeleton {
  width: 100%;
  height: 150px;
  padding: 0 1.5rem;
  padding-bottom: .5rem;
}

.main {
  height: max-content;
}
 


/* Media Queries */

@media (max-width: 480px) {

  .footer {
    min-height: 70px;
    margin-top: 1rem;
  }
  
  
  .footerSkeleton {
    height: 70px;
    padding: 0 .7rem;
    padding-bottom: .3rem;
  }
  
}
