.page {
  --foreground: #171717;
  --bg-black-2: #16191b;


  background: var(--bg-black-2);
  color: var(--foreground);
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-y: hidden;
  max-height: 100vh;
}


.page::-webkit-scrollbar {
  display: none;
}

.page {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.page.fixedHeight {
}

.page.autoHeight {
  overflow-y: auto;
  min-height: 100vh;
  max-height: max-content;
}


.heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.hero_dark_bg {
  background-color: var(--heroInfo-bg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.newsSection {
  width: 100%;
  min-height: 30vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
}

.newSectionTitle {
  font-size: 3.4rem;
  color: var(--heroTitle-color);
  opacity: 0;
  transition: all 0.3s ease-in;
  background-color: var(--heroTitle-bg-color);
  padding: 0 .5rem;
  margin-bottom: .5rem;
}



.loadingIndicator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4AA4C;
  padding: .5rem;
  height: 5rem;
}


.uptoDateCont {
  padding: .5rem 2rem;
  background-color: #3E958F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: -1px 4px 19px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -1px 4px 19px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -1px 4px 19px 4px rgba(0, 0, 0, 0.43);
}

.uptoDateCont.error {
  background-color: #CA0202;
}


@media (max-width: 550px) {
  .page {
    background-color: var(--heroSection-bg);
  }

  .newSectionTitle {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: -3rem;
  }

  .heroSection {
    height: 70vh;
  }

}