.page {
  --foreground: #171717;
  --bg-black-2: #16191b;


  background: var(--bg-black-2);
  color: var(--foreground);
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
 

.page::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.page {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



.page.fixedHeight {
  max-height: 100vh;
  overflow-y: hidden;
}

.page.autoHeight {
  overflow-y: auto;
}


.heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.newsSection {
  width: 100%;
  min-height: 30vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
}

.newSectionTitle {
  font-size: 3.4rem;
  color: white;
  opacity: .7;
}



.loadingIndicator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4AA4C;
  padding: .5rem;
  height: 5rem;
}

 
.uptoDateCont {
  padding: .5rem 2rem;
  background-color: #3E958F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: -1px 4px 19px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -1px 4px 19px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -1px 4px 19px 4px rgba(0, 0, 0, 0.43);
}

.uptoDateCont.error {
  background-color: #CA0202;
}


@media (max-width: 550px) {
  .newSectionTitle {
    font-size: 1.8rem;
    text-align: center;

  }
    .heroSection {
      height: 70vh;
    }
  
} 