.authPage {
    --button-secondary: #ca0202c9;
    
  --button-secondary-dark: #16191b;
  --button-color-dark: white;
  --bg-black-2: #16191b;


    background: var(--bg-black-2);
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.bgImage_cover {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16191b92;    
}

.backgroung_image {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.library_img {
    width: 100%;
    object-fit: cover;
    filter: blur(10px) saturate(10%);
-webkit-filter: blur(10px) saturate(10%);
-moz-filter: blur(10px) saturate(10%);
}

.leftAuthWrapper {
    width: 50%;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 8;
    background: rgb(22,25,27);
    backdrop-filter: blur(15px);
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url("/imgs/back_to_school.png");
    background-repeat: repeat;
    opacity: .2;
}

.left_auth_bgImage {
    width: 100%;
    height: 100%;
    object-fit: c;
    opacity: .2;
}

.chipContainer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.leftAuth_content_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    box-sizing: border-box;
    z-index: 3;
}

.leftAuth_contentBox_logoCont {
    box-sizing: border-box;
}

.login_logo {
    cursor: pointer;
    width: 230px;
    aspect-ratio: 2.25;
    box-sizing: border-box;
}

.leftAuth_contentBox_threeDCont {
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}




.rightAuthWrapper {
    width: 50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.moveableWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15%;
    box-sizing: border-box;
    transition: all 0.6s ease-out;
    z-index: 15;
}






/* Media Queries */


@media (max-width: 979px) {
    .leftAuthWrapper {
        display: none;
    }

    .rightAuthWrapper {
        width: 100%;
    }

}

@media (max-width: 600px) {

    .loginComp {
        transform: scale(.8);
    }

    .moveableWrapper {
        padding-top: 0;
    }


    .inputBox {
        padding: 1rem;
    }

    .signUpcomp {
        transform: scale(.8);
    }
}



@media (max-width: 380px) {
    .loginComp {
        transform: scale(0.7);
    }

    .signUpcomp {
        transform: scale(.7);
    }
}