
.newsPageWrapper {
  
    background-color: var(--newsPage-bg-color); 
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease-in;
}

.headerSection {
    width: 100%;
    height: 45vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 3rem;
    padding-bottom: 3rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.news_header_blackOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--newsPage-header-overlay);
    transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: .75;
}


.news_image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.headerSection:hover  .news_header_blackOverlay {
    opacity: .5;
}



.infoWrapper {
    z-index: 7;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 90%;
    gap: .5rem;
}

.infoWrapper > .headerTxt {
    font-size: 4rem;
    font-weight: 500;
}

.infoWrapper .postedTime {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 1rem;
    padding-top: .5rem;
    font-size: 13px;
}


.newsBodySection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.newsBody {
    min-width: 50%;
    max-width: 60vw;
}

.txtContent {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: left;
    color: var(--newsPage-txt-color);
    transition: all 0.3s ease-in;

  white-space: normal; /* or inherit */
}



.moreNewsSection {
    display: grid;
    width: 100vw;
    padding: 2rem;
    height: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.pageSkeleton {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageSkeleton_bone {
    background-color: #ffffff3b;
}