.newsSection {
    width: 100%;
    /* height: 100%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F4AA4C;
    align-items: center;
    justify-content: center;
    
    border-radius: 4rem 4rem 0 0 ;
    padding: 2.5rem;
    padding-top: 0;
}

/* .newsSectHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem 3rem 1rem 3rem;
}

.newsTitle {
    font-size: 2.5rem;
    font-weight: 400;
}

.newsTitle.topPTxt {
    font-size: 3rem;
}

.newsTitle.firstTopPTxt {
    font-size: 3.6rem;
}

.moreNewsTxt {
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .2rem;
    transition: all 0.3s ease-in-out;
}

.moreNewsTxt p {
    font-size: 17px;
    cursor: pointer;
}

.moreNewsTxt:hover {
    border-bottom: 1px solid black;
}

.moreNewsTxt :nth-child(2) {
    transition: all 0.3s ease-in-out;
}

.moreNewsTxt:hover :nth-child(2) {
    transform: translateX(5px);
}

.newPreviews {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.newsTopPriority {
    width: 100%;
    height: 55vh;
    display: flex;
    padding: 0.3rem 2rem;
    gap: 1rem;
}



.newsPreview {
    flex: 1;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 1.5rem;
}

.newsPreview.topP {
    flex: .4;
    padding-bottom: 3rem;
}

.newsPreview.topP.firstTopP {
    flex: .6;
    padding-bottom: 3rem;
}

.newsPreview.allNewsPage {
    min-height: 350px;
}


.bgImageCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.bgImageCont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blackOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}


.infoWrapper {
    z-index: 7;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 90%;
    gap: .2rem;
}

.infoWrapper.topP {
    gap: .5rem;
}

.infoWrapper h4 {
    font-weight: 600;
    font-size: 2.1rem;
}

.readMoreBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    width: max-content;
    cursor: pointer;
    position: relative;
}

.pulsatingBox.readMore {
    background-color: #ffffff53;
    display: none;
}

.readMoreBtn:hover .pulsatingBox.readMore {
    display: flex;
}


.postedTime {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
}


.newslesserPriority {
    display: flex;
    width: 100%;
    height: 45vh;
    padding: 0.3rem 2rem;
    gap: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}



.skeletonCont {
    width: 100%;
    height: max-content;
    flex: 1;
}

.newsTopPSkeleton {
    width: 100%;
    height: 100%;
    flex: 0.6;
}

.newsTopPSkeleton:nth-of-type(2) {
    flex: 0.4;
}

.newsLesserPSkeleton {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
}

.newsTopPriority.skeleton {
    height: 55vh;
}

.newslesserPriority.skeleton {
    height: 45vh;
}






@media (max-width: 1100px) {
    .newsTopPriority {
        padding: 1rem;
    }

    .newslesserPriority.skeleton {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .newslesserPriority {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
}



@media (max-width: 768px) {
    .newsSectHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem 1rem;
        flex-direction: column;
        gap: 2rem;
    }

    .moreNewsTxt {
        border-bottom: 1px solid black;
    }

    .newsSection {
        height: max-content;
    }

    .newsTopPriority {
        height: 80vh;
        flex-direction: column;
        padding: 1rem;
    }

    .newslesserPriority {
        display: flex;
        flex-direction: column;
    }

    .newsTopPriority.skeleton {
        height: 70vh;
    }

    .newsTopPSkeleton,
    .newsTopPSkeleton:nth-of-type(2) {
        flex: 1;
    }

    .newslesserPriority.skeleton {
        display: flex;
    }


    .newsPreview.topP {
        padding-bottom: 1rem;
    }

    .newsPreview.topP.firstTopP {
        padding-bottom: 1rem;
    }
}


@media (max-width: 480px) {

    .newsTopPriority {
        height: 110vh;
    }

    .newsPreview.topP {
        flex: 1;
    }

    .newsPreview.topP.firstTopP {
        flex: 1;
    }

    .newslesserPriority {
        height: 150vh;
    }



    h4.newsTitle {
        font-size: 2rem;
    }

    h4.newsTitle.topPTxt {
        font-size: 2rem;
    }

    h4.newsTitle.firstTopPTxt {
        font-size: 2rem;
    }
} */