.newsSection {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F4AA4C;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    border-radius: 4rem 4rem 0 0;
}








@media (max-width: 550px) {
} 