
.stdPortal {
    --navbar-bg: #f9dfdf90;
    --navbar-sm-bg: #f9dfdf;
    --selected-opt: #ffffff;
    --selected-lighter: #ffffff76;
    --button-secondary: #ca0202c9;


    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
    color: black;
    display: flex;
    box-sizing: border-box;
}

.vertNavbar {
    height: 100%;
    flex: .2;
    background-color: var(--navbar-bg);
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease-in;
    z-index: 100;
}

.navContentWrapper {
    flex: .8;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 1;
}


.topBarWrapper {
    width: 100%;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.mailAndPicture {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.topBarWrapper .mail_icon {
    width: 20px;
    aspect-ratio: 1;
    cursor: pointer;
}

.profilePicCirc {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.profilePicCirc .profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilePicCirc.icon {
    /* width: max-content; */
}


.vnTopSect {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.vnTopSect .logo {
    cursor: pointer;
    width: 225px;
    height: 100px;
}

.NavbarIcon {
    display: none;
}

.vnMidSect {
    width: 100%;
    flex: 1;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.vnOption {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}

.vnOption.selectedOpt {
    background-color: var(--selected-opt);
}

.vnOption:hover {
    background-color: var(--selected-lighter);
}

.vnBottomSect {
    display: flex;
    width: 100%;
}

.selectFile.green {
    color: rgb(6, 163, 6);
}


.changeImageComp {
    border-radius: 30px;
    width: max-content;
    height: max-content;
    padding: 2rem 5rem;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    box-sizing: border-box;
}

.changeImageComp > .topSect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    box-sizing: border-box;
}

.modalCloseBtn {
    font-size: 20px;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
}

.changeImageComp > .bottomSect {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.authBtn {
    background-color: var(--button-secondary);
}


.oyshia_cardWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.oyshia_InfoWrapper {
    width: fit-content;
    box-sizing: border-box;
    max-width: 600px;
    background-color: #fff;
    padding: 2rem 4rem;
    color: black;
    border-radius: 8px;
    text-align: center;
}

/*



@media (max-width: 550px) {
}


@media (max-width: 768px) {
}


@media (max-width: 979px) {
}


@media (max-width: 1200px) {
}


@media (max-width: 1400px) {
}

*/


/* Media Queries */

@media (max-width: 550px) {
    .stdPortal {
        position: relative;
    }

    .vertNavbar {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--navbar-sm-bg);
    }

    .vertNavbar.mobileNavbarOpen {
        transform: translate(0);
        z-index: 10;
    }

    .vnTopSect {
        justify-content: space-between;
    }


    .NavbarIcon {
        display: flex;
        font-size: 30px;
    }

    .NavbarIcon.close {
        border: 1px solid black;
        border-radius: 50%;
    }

    .navContentWrapper {
        flex: 1;
        padding: 0;
    }

    .topBarWrapper {
        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.368);
    }

    .profilePicCirc {
        width: 35px;
    }

    .changeImageComp {
        max-width: 95vw;
        padding: 1rem 3rem;
        padding-top: 2rem;
    }

    .changeImageComp > .topSect > h3 {
        font-size: 5vw;
    }

    
.modalCloseBtn {
    right: 5vw;
}


}


@media (max-width: 768px) {
}


@media (max-width: 979px) {
}


@media (max-width: 1200px) {
}


@media (max-width: 1400px) {
}


